/* Universal Styles */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: #ecfcff;
  /*background-color: #f1eef1;*/
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

a {
  color: black;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header Section */

header {
  /*font-family: 'Comic Neue', cursive;*/
  width: 95%;
  position: relative;
  z-index: 1;
  height: 69px;
  /*border-bottom: 1px solid black;*/
  align-items: center;
  overflow: hidden;
  padding: 15px 2.5%;
  margin-bottom: 10px;
}

header img {
  width: 75px;
  height: 75px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header h1 {
  text-align: left;
  margin: auto;
  font-weight: bolder;
  padding-left: 20px;
  font-size: 32px;
}

/* Main Section */

#heading {
  width: 100%;
  height: 50vmax;
  background-image: url(images/brownie2.png);
  background-size: cover;
  background-position: center;
  margin-top: 5%;
}

#title {
  padding-bottom: 30px;
}

#title h1 {
  background-color: #6bcfe7;
  font-family: 'Roboto Slab', serif;
  color: white;
  border-radius: 80px;
  padding: 10px;
  margin: 0 80px;
  letter-spacing: 6pt;
  font-size: 60px;
}


.main {
  opacity: 0.9;
  width: 100%;
  margin: auto;
}

/* About section */

#intro {
  display: flex;
  height: 20rem;
  background-color: #ffefff;
  vertical-align: middle;
  margin: auto 0;
  margin-bottom: 70px;
}

#intro p {
  margin: auto 0;
  padding: 0 15%;
  font-size: 28px;
}

/* Store Section */

#store {
  height: auto;
  width: 100%;
  margin: auto;
  padding-top: 50px;
}

#store h1 {
  padding-bottom: 30px;
}
.item {
  padding: 5px;
  width: 40%;
  padding-bottom: 30px;
}

.s-items {
  padding: 5px;
  width: 30%;
  margin: auto 5%
}

.s-items h2 {
  font-size: 48px;
}
.s-items img {
  height: 400px;
  margin: auto;
  display: flex;
  align-items: center;
}

.item img {
  height: 250px;
  margin: auto;
  display: flex;
  align-items: center;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: 400;
  text-align: center;
}

/* Contact Section */

#contact {
  height: auto;
  background-color: #ffefff;
}

.f-items {
  flex-grow: 1;
  background-color: #ffefff;
  margin: auto;
}
/* Footer Section */

footer {
  text-align: left;
  padding-left: 20px;
  background-color: #ffefff;
  margin: 0;
  padding: 30px;
}

/* Mobile style*/

@media only screen and (max-width: 980px) {
  #heading {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 504px;
}
}

@media only screen and (max-width: 1300px) {
  .s-items {
    width: 70%;
  }
}

#product-component-1590072023951, #product-component-1590072908836, #product-component-1590073203858, #product-component-1590073272173, 
#product-component-1590073316315 {
  display: inline-block;
}
.mapouter {
  position: relative;
  text-align: left;
  height: 316px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 316px;
  width: 519px;
}

.f-map {
  width: 490px;
}

.fa {
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  margin: auto;
  padding: 5px 0;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: rgb(0, 0, 0);
  color: white;
}

.fa-twitter {
  background: rgb(0, 0, 0);
  color: white;
}

.fa-instagram {
  background: rgb(0, 0, 0);
  color: white;
}