/* Universal Styles */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: #ecfcff;
  /*background-color: #f1eef1;*/
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

a {
  color: black;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header Section */

header {
  /*font-family: 'Comic Neue', cursive;*/
  width: 100%;
  position: relative;
  z-index: 1;
  height: 69px;
  /*border-bottom: 1px solid black;*/
  align-items: center;
  overflow: hidden;
  padding: 15px 20px;
  margin-bottom: 10px;
}

header img {
  width: 75px;
  height: 75px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header h1 {
  text-align: left;
  margin: auto;
  font-weight: bolder;
  padding-left: 20px;
  font-size: 32px;
}

/* Main Section */

#heading {
  width: 100%;
  height: 640px;
  background-image: url(images/brownie2.png);
  background-size: cover;
}

#title {
  padding-bottom: 30px;
}

#title h1 {
  background-color: #6bcfe7;
  font-family: 'Roboto Slab', serif;
  color: white;
  border-radius: 80px;
  padding: 10px;
  margin: 0 80px;
  letter-spacing: 6pt;
  font-size: 60px;
}


.main {
  opacity: 0.9;
  width: 100%;
  margin: auto;
}

/* About section */

#intro {
  display: flex;
  height: 20rem;
  background-color: #ffdcff;
  vertical-align: middle;
  margin: auto 0;
}

#intro p {
  margin: auto 0;
  padding: 0 15%;
  font-size: 28px;
}

/* Store Section */

#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: 400;
  text-align: center;
}

/* Location Section */

.flex-container.locations {
  padding-top: 5px;
}

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

#locations .flex-container {
  margin: auto;
  width: 1100px;
}

.location {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Contact Section */

#contact {
  height: 200px;
}

/* Footer Section */

footer {
  text-align: left;
  padding-left: 20px;
}
